.header-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    .header-parent {
        width: 100%;

        .header-top {
            width: 100%;
            display: flex;
            color: white;
            margin: 0 auto;
            .header-child {
                padding: 7px 0;
                width: 100%;
                display: flex;
                text-align: center;
                justify-content: space-around;
                margin: 0 auto;
                background-color: #a5c926;
                

                .call {
                    width: 70%;
                    p{
                        font-family: 'Open Sans', sans-serif;
                    }
                }
                .icons {
                    display: flex;
                    gap: 4px;
                    align-items: center;
                }
            }
        }

        .header-bottom {
            padding: 28px 0;
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            h3{
                font-size: 30px;
                font-family: 'Varela Round', sans-serif;
                font-weight: 400;
            }
            ul{
                li{
                    font-size: 18px;
                }
            }
        }
    }
}
